In [52]:
import pandas as pd

In [66]:
ranking=pd.DataFrame(columns=[["Jogador","Pontuação"]])

In [67]:
inscricoes=pd.DataFrame(columns=[["Nome", "Nick"]])

In [69]:
novos_jogadores=[]
novos_jogadores=(input("Insira seu nome e nick"))

In [70]:
jogadores=[]
jogadores.append(novos_jogadores.split(" "))

In [71]:
jogadores[0]

['Arthur', 'Eunuco']

In [72]:
def inscricao(inscricoes,jogadores):

    inscricoes.loc[len(inscricoes)] = jogadores

In [74]:
inscricao(inscricoes,jogadores)

ValueError: cannot set a row with mismatched columns

In [65]:
inscricoes

            Nome           Nick
1  Arthur Eunuco  Arthur Eunuco