In [1]:
import pandas as pd

In [34]:
jogadores=[]

In [35]:
inscricoes=pd.DataFrame(columns=[["Nome", "Nick"]])

In [36]:
novos_jogadores=[]
novos_jogadores=(input("Insira seu nome, nick e discord separado por virgulas ( Nome, Nick, Discord"))

In [38]:

jogadores.append(novos_jogadores.split(","))

In [39]:
jogadores

[['Arthur', ' Eunuco', ' aaa']]

In [40]:
inscricoes=pd.DataFrame(jogadores,columns=[["Nome", "Nick","Discord"]])

In [41]:
inscricoes

     Nome     Nick Discord
0  Arthur   Eunuco     aaa

In [80]:
jogadores = open('jogadores.txt', 'a')

In [61]:

def inscricao(jogadores):
    novos_jogadores=[]
    novos_jogadores=(input("Insira seu nome, nick e discord separado por virgulas ( Nome, Nick, Discord"))
    jogadores = open('jogadores.txt', 'a')
    jogadores.write(str(novos_jogadores.split(",")))
    jogadores.close
    inscricoes=pd.DataFrame(jogadores,columns=[["Nome", "Nick","Discord"]])
    return inscricoes

In [62]:
df=inscricao(jogadores)

In [63]:
df

Empty DataFrame
Columns: [(Nome,), (Nick,), (Discord,)]
Index: []

In [81]:
jogadores = open("jogadores.txt","a")

In [82]:
jogadores

In [6]:
aaa=["aaa","","",""]

In [7]:
len(aaa[0])

3

In [12]:
aaa=[]
if aaa:
    print(aaa)