In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("jogadores.csv")

In [ ]:
df

In [ ]:
# df[["Jogo 1","Jogo 2", "Jogo 3", "Jogo 4", "Pontos"]]=0

In [ ]:
df1=df.sample(8)
df.drop(df1.index,inplace=True)
df2=df.sample(8)
df.drop(df2.index,inplace=True)
df3=df.sample(8)
df.drop(df3.index,inplace=True)
df4=df.sample(8)
df.drop(df4.index,inplace=True)
df5=df.sample(8)
df.drop(df5.index,inplace=True)
df6=df.sample(8)
df.drop(df6.index,inplace=True)
df7=df.sample(8)
df.drop(df7.index,inplace=True)

In [ ]:
df1.reset_index(drop=True,inplace=True)
df1.index+=1
df1

In [ ]:
df2.reset_index(drop=True,inplace=True)
df2.index+=1
df2

In [ ]:
df3.reset_index(drop=True,inplace=True)
df3.index+=1
df3

In [ ]:
df4.reset_index(drop=True,inplace=True)
df4.index+=1
df4

In [ ]:
df5.reset_index(drop=True,inplace=True)
df5.index+=1
df5

In [ ]:
df6.reset_index(drop=True,inplace=True)
df6.index+=1
df6

In [ ]:
df7.reset_index(drop=True,inplace=True)
df7.index+=1
df7

In [ ]:
df1[["Jogo 1","Jogo 2","Jogo 3","Jogo 4","Pontos"]]=0
df2[["Jogo 1","Jogo 2","Jogo 3","Jogo 4","Pontos"]]=0
df3[["Jogo 1","Jogo 2","Jogo 3","Jogo 4","Pontos"]]=0
df4[["Jogo 1","Jogo 2","Jogo 3","Jogo 4","Pontos"]]=0
df5[["Jogo 1","Jogo 2","Jogo 3","Jogo 4","Pontos"]]=0
df6[["Jogo 1","Jogo 2","Jogo 3","Jogo 4","Pontos"]]=0
df7[["Jogo 1","Jogo 2","Jogo 3","Jogo 4","Pontos"]]=0

In [ ]:
df1.to_csv("j1_Rodada-1.csv",index_label=False)
df2.to_csv("j2_Rodada-1.csv",index_label=False)
df3.to_csv("j3_Rodada-1.csv",index_label=False)
df4.to_csv("j4_Rodada-1.csv",index_label=False)
df5.to_csv("j5_Rodada-1.csv",index_label=False)
df6.to_csv("j6_Rodada-1.csv",index_label=False)
df7.to_csv("j7_Rodada-1.csv",index_label=False)

In [ ]:
df_styled = df.style.background_gradient()

In [ ]:
df1.export(df_styled,"mytable.png")

In [ ]:
df1=pd.read_csv("j1_Rodada-1.csv")
df2=pd.read_csv("j2_Rodada-1.csv")
df3=pd.read_csv("j3_Rodada-1.csv")
df4=pd.read_csv("j4_Rodada-1.csv")
df5=pd.read_csv("j5_Rodada-1.csv")
df6=pd.read_csv("j6_Rodada-1.csv")
df7=pd.read_csv("j7_Rodada-1.csv")

In [ ]:
df_t=pd.concat([df1,df2,df3,df4,df5,df6,df7])

In [ ]:
df_t.drop("Unnamed: 0",axis=1,inplace=True)

In [ ]:
df_t=df_t[["Nick","Pontos"]]

In [ ]:
df_t.reset_index(inplace=True,drop=True)

In [ ]:
df_t.index+=1

In [ ]:
# df_t.Pontos = np.random.randint(4,40, size=len(df_t))

In [ ]:
df_t=df_t.sort_values("Pontos",ascending=False)

In [ ]:
df_t["Pontos"]=0

In [1]:
df_t.to_csv("tabela.csv",index=False)

NameError: name 'df_t' is not defined

In [1]:
import pandas as pd
import numpy as np

In [15]:
rdd1=pd.read_csv("rdd8.csv",index_col=False)

In [16]:
rdd1

                Nick  Pontos
0   BEE Xiellendario     231
1       BES Midor1ya     227
2          BES Toddy     224
3      Miguel Arkjow     224
4       BEE Phelpz13     220
5           BES Vipi     219
6         FOUR Bieul     214
7             zzhcet     206
8          FOUR Jhin     203
9        KDA Guiczar     202
10        vMetangTTV     201
11        BEE Itachi     198
12          TMT Xaue     196
13       TFX D klein     194
14    BES Inc mplete     192
15      FOUR SaintOz     188
16   Highroller Bnas     187
17        KDA Wenked     187
18          BEE Soft     184
19       PedroBanana     180
20             Erith     179
21       Felipeanjos     178
22        NDL Carlão     178
23          JosneyQT     176
24         FOUR Koke     172
25   FOUR Steps Days     171
26         vovô nuco     169
27   KDA ConsTanTine     161
28        EMS Sartii     160
29         The Nextt     158
30         D Pazzini     157
31              Godi     156

In [17]:
rdd1.index+=1

In [18]:
# rdd1.drop('Unnamed: 0',axis=1,inplace=True)

In [19]:
rdd1

                Nick  Pontos
1   BEE Xiellendario     231
2       BES Midor1ya     227
3          BES Toddy     224
4      Miguel Arkjow     224
5       BEE Phelpz13     220
6           BES Vipi     219
7         FOUR Bieul     214
8             zzhcet     206
9          FOUR Jhin     203
10       KDA Guiczar     202
11        vMetangTTV     201
12        BEE Itachi     198
13          TMT Xaue     196
14       TFX D klein     194
15    BES Inc mplete     192
16      FOUR SaintOz     188
17   Highroller Bnas     187
18        KDA Wenked     187
19          BEE Soft     184
20       PedroBanana     180
21             Erith     179
22       Felipeanjos     178
23        NDL Carlão     178
24          JosneyQT     176
25         FOUR Koke     172
26   FOUR Steps Days     171
27         vovô nuco     169
28   KDA ConsTanTine     161
29        EMS Sartii     160
30         The Nextt     158
31         D Pazzini     157
32              Godi     156

In [20]:
np_j1=np.array([1,8,12,16,20,24,28,32])
np_j2=np.array([2,7,11,15,19,23,27,31])
np_j3=np.array([3,6,10,14,18,22,26,30])
np_j4=np.array([4,5,9,13,17,21,25,29])
# np_j5=np.array([5,6,11,16,21,26,31,36])
# np_j6=np.array([6,7,13,19,25,31,37,43])

In [21]:
# np_j1=np.arange(12,49,8)
# np_j1=np.append(np_j1,1)
# np_j1=np.sort(np_j1)
# print(np_j1)

# np_j2=np.arange(11,49,8)
# np_j2=np.append(np_j2,2)
# np_j2=np.sort(np_j2)
# print(np_j2)


# np_j3=np.arange(10,49,8)
# np_j3=np.append(np_j3,3)
# np_j3=np.sort(np_j3)
# print(np_j3)

# np_j4=np.arange(9,49,8)
# np_j4=np.append(np_j4,4)
# np_j4=np.sort(np_j4)
# print(np_j4)

# np_j5=np.arange(8,49,8)
# np_j5=np.append(np_j5,5)
# np_j5=np.sort(np_j5)
# print(np_j5)

# np_j6=np.arange(7,49,8)
# np_j6=np.append(np_j6,6)
# np_j6=np.sort(np_j6)
# print(np_j6)


# # np_j7=np.arange(8,49,8)
# # np_j7=np.append(np_j7,7)
# # np_j7=np.sort(np_j7)
# # print(np_j7)

# # np_j8=np.arange(7,49,8)
# # np_j8=np.append(np_j8,8)
# # np_j8=np.sort(np_j8)
# # print(np_j8)


# # np_j2=np.append(np_j2,np_j8[-1])
# # np_j3=np.append(np_j3,np_j8[-2])
# # np_j4=np.append(np_j4,np_j8[-3])
# # np_j5=np.append(np_j5,np_j8[-4])
# # np_j6=np.append(np_j6,np_j8[-5])
# # np_j7=np.append(np_j7,np_j8[-6])

In [22]:
rdd1

                Nick  Pontos
1   BEE Xiellendario     231
2       BES Midor1ya     227
3          BES Toddy     224
4      Miguel Arkjow     224
5       BEE Phelpz13     220
6           BES Vipi     219
7         FOUR Bieul     214
8             zzhcet     206
9          FOUR Jhin     203
10       KDA Guiczar     202
11        vMetangTTV     201
12        BEE Itachi     198
13          TMT Xaue     196
14       TFX D klein     194
15    BES Inc mplete     192
16      FOUR SaintOz     188
17   Highroller Bnas     187
18        KDA Wenked     187
19          BEE Soft     184
20       PedroBanana     180
21             Erith     179
22       Felipeanjos     178
23        NDL Carlão     178
24          JosneyQT     176
25         FOUR Koke     172
26   FOUR Steps Days     171
27         vovô nuco     169
28   KDA ConsTanTine     161
29        EMS Sartii     160
30         The Nextt     158
31         D Pazzini     157
32              Godi     156

In [23]:
lista=[1,1,1,1,1,1,1,1]
g1=rdd1.iloc[np_j1-lista]

In [24]:
def shuffle(np_j1,np_j2,np_j3,np_j4,df1):
    lista=[1,1,1,1,1,1,1,1]
    g1=df1.iloc[np_j1-lista]
    g2=df1.iloc[np_j2-lista]
    g3=df1.iloc[np_j3-lista]
    g4=df1.iloc[np_j4-lista]
    # g5=df1.iloc[np_j5-lista]
    # g6=df1.iloc[np_j6-lista]
    # g7=df1.iloc[np_j7-lista]
    
    return g1,g2,g3,g4

g1,g2,g3,g4=shuffle(np_j1,np_j2,np_j3,np_j4,rdd1)

In [59]:
g1.to_csv(f"Rodada9_g1.csv")
g2.to_csv(f"Rodada9_g2.csv")
g3.to_csv(f"Rodada9_g3.csv")
g4.to_csv(f"Rodada9_g4.csv")
# g5.to_csv(f"Rodada8_g5.csv")
# g6.to_csv(f"Rodada6_g6.csv")
# g7.to_csv(f"Rodada4_g7.csv")

In [25]:
g1.sort_values('Pontos' ,ascending=False,inplace=True)
g2.sort_values('Pontos' ,ascending=False,inplace=True)
g3.sort_values('Pontos' ,ascending=False,inplace=True)
g4.sort_values('Pontos' ,ascending=False,inplace=True)
# g5.sort_values('Pontos' ,ascending=False,inplace=True)
# g6.sort_values('Pontos' ,ascending=False,inplace=True)
# g7.sort_values('Pontos' ,ascending=False,inplace=True)

c:\Users\arthu\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [31]:
gt=pd.concat([g1,g2,g3,g4])

In [53]:
jogos=['G1','G2','G3','G4']
lista=[]

lista.append(np.repeat(jogos,8))

In [56]:
lista[0][

'G1'

    0   1   2   3   4   5   6   7
0  G1  G1  G1  G1  G1  G1  G1  G1
1  G2  G2  G2  G2  G2  G2  G2  G2
2  G3  G3  G3  G3  G3  G3  G3  G3
3  G4  G4  G4  G4  G4  G4  G4  G4

In [57]:
gt['Grupo']=lista[0]

In [65]:
gt.to_csv(f"teste.csv")

In [64]:
gt.drop("Pontos",axis=1,inplace=True)

In [66]:
gt

                Nick Grupo
1   BEE Xiellendario    G1
8             zzhcet    G1
12        BEE Itachi    G1
16      FOUR SaintOz    G1
20       PedroBanana    G1
24          JosneyQT    G1
28   KDA ConsTanTine    G1
32              Godi    G1
2       BES Midor1ya    G2
7         FOUR Bieul    G2
11        vMetangTTV    G2
15    BES Inc mplete    G2
19          BEE Soft    G2
23        NDL Carlão    G2
27         vovô nuco    G2
31         D Pazzini    G2
3          BES Toddy    G3
6           BES Vipi    G3
10       KDA Guiczar    G3
14       TFX D klein    G3
18        KDA Wenked    G3
22       Felipeanjos    G3
26   FOUR Steps Days    G3
30         The Nextt    G3
4      Miguel Arkjow    G4
5       BEE Phelpz13    G4
9          FOUR Jhin    G4
13          TMT Xaue    G4
17   Highroller Bnas    G4
21             Erith    G4
25         FOUR Koke    G4
29        EMS Sartii    G4

In [ ]:
import requests

In [ ]:
j1

In [ ]:
nick="F 0 J O"

In [ ]:
puuid=requests.get(f"https://br1.api.riotgames.com/tft/summoner/v1/summoners/by-name/{nick}?api_key=RGAPI-138fd8e0-06f7-4c98-a83e-49402304c000").json()
    
puuid=puuid["puuid"]
matchs=requests.get(f"https://americas.api.riotgames.com/tft/match/v1/matches/by-puuid/{puuid}/ids?count=4&api_key=RGAPI-138fd8e0-06f7-4c98-a83e-49402304c000").json()

partida=requests.get(f"https://americas.api.riotgames.com/tft/match/v1/matches/{matchs[0]}?api_key=RGAPI-138fd8e0-06f7-4c98-a83e-49402304c000").json()
colocacoes=[]
for n in range(0,8):
    colocacoes.append(partida["info"]["participants"][n]["placement"])

participantes=partida["metadata"]["participants"]
nick_p=[]
for participante in participantes:
    nicks=requests.get(f"https://br1.api.riotgames.com/tft/summoner/v1/summoners/by-puuid/{participante}?api_key=RGAPI-138fd8e0-06f7-4c98-a83e-49402304c000").json()
    nick_p.append(nicks["name"])  
# st.write(nick_p)

data_tuples = list(zip(nick_p,colocacoes))
pos=pd.DataFrame(data_tuples,columns=["Nick","Jogo-1"])
# st.dataframe(pos)
j1=j1.merge(pos,how="left",on="Nick")

In [ ]:
data_tuples

In [ ]:
conv_dict=dict({1:10,2:8,3:7,4:6,5:4,6:3,7:2,8:1})

In [ ]:
j1

In [ ]:
j1.replace({"Jogo-1":conv_dict})

In [ ]:
data_tuples[5][1]

In [ ]:
for n,x in enumerate(data_tuples):
    print(n)

In [ ]:
for n,x in enumerate(data_tuples):
    if data_tuples[n][1] == 1:
        data_tuples[n][1]=10
    elif data_tuples[n][1] == 2:
        data_tuples[n][1]=8
    elif data_tuples[n][1] == 3:
        data_tuples[n][1]=7
    elif data_tuples[n][1] == 4:
        data_tuples[n][1]=6
    elif data_tuples[n][1] == 5:
        data_tuples[n][1]=4
    elif data_tuples[n][1] == 6:
        data_tuples[n][1]=3
    elif data_tuples[n][1] == 7:
        data_tuples[n][1]=2
    else:
        data_tuples[n][1]=1